<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Possible Course Subscriptions</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/vue"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

      <style>
       .badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

         .ii {
    display: inline-block;


}
    </style>

</head>
<body>

<div align="center">
<div class = "ii" style="width:520px;margin:0px auto;margin-top:30px;" id = "searchbyname">

<select class="myselect myselect2" style="width:500px;" onchange="changeSelect();">
        <option value="" disabled selected>Search course by name</option>
         <option value="Show all" >Show all</option>
  </select>
</div>

<div class = "ii" style="width:520px;margin:0px auto;margin-top:30px;" id = "searchbytag">

<select class="myselect myselect3" style="width:500px;" onchange="changeSelect();">
        <option value="" disabled selected>Search course by category tag name</option>
         <option value="Show all" >Show all</option>
  </select>
</div>
</div>
<h1 id = "message" align="center"></h1>

<ul id="users" >
  <div v-for="(course,index) in courses " class="container">

     <!--
   <a  :click = "seeFile(index)" href="">   { doc.name  }} </a>

      <a :click="removeElement(index)" class="btn btn-danger">Delete</a> -->
          {% verbatim %}
          <div class="col-md-12">
    <h1>{{ course.name }}</h1>

    <p> {{course.description  }}</p>

    <div>
<span class="badge">Creation date: {{course.date }}</span>
<span class="badge">Creator: {{course.author }}</span>
        <span class="badge badge-error"> <a  v-on:click="subscribe_course(course.name)" > <font color="FFFFFF"> subscribe course </font></a></span>

        <div class="pull-right" v-for="tag in course.tags ">
            <span class="label label-default">{{ tag }}</span>
        </div>

     <!--   <div class="pull-right"><span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span> -->
    </div>
    <hr>
</div>
</div>
          {% endverbatim %}

              <!--<a href={ url 'edit_course_content' course.name %} > Редагувати вміст курсу </a>
                     <a href={ url 'delete_course' course.id %} > Видалити курс </a>-->


  </div>
</ul>

<script>
var vm = new Vue({
  el: '#users',
  data: {
    courses: [

    ]
  },
  mounted:function(){
  //      alert("rgr");
       $.ajax({
             headers: { "X-CSRFToken":'{{ csrf_token }}'},
           url: '',
           type: 'get', // This is the default though, you don't actually need to always mention it
           data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}'
           },
           success: function (data) {
          // alert("fefw");
              // alert(JSON.stringify(data));
              //   alert(JSON.stringify(data.courses));
               if (data.courses.length > 0) {
                   this.courses = data.courses;
                   for(var item of this.courses){
                       $(".myselect2").append(new Option(item.name, item.name));
                   }

                   for(var tag of data.tags){

                        $(".myselect3").append(new Option(tag, tag));
                   }
               }
               else
               {
                   document.getElementById("searchbyname") .style.visibility='hidden'
                   document.getElementById("message").innerHTML = "There are no courses to subscribe"
               }
              // alert(JSON.stringify(data));
              // this.tasks = data.lessons;
           }.bind(this),
           failure: function (data) {
               alert('Got an error dude');
               //alert(JSON.stringify(data));

           }
       });
  },
  methods: {
  removeElement: function (index) {

       $.ajax({
           url: '',
           type: 'get', // This is the default though, you don't actually need to always mention it
           data: {
               "temp":"",
               'csrfmiddlewaretoken': '{{ csrf_token }}'
           },
           success: function (data) {
              // alert(JSON.stringify(data.courses));
               this.courses = data.courses;
              // alert(JSON.stringify(data));
              // this.tasks = data.lessons;
           }.bind(this),
           failure: function (data) {
               alert('Got an error dude');
               //alert(JSON.stringify(data));

           }
       });


     // alert(index);
    //this.documents.splice(index, 1);
  },
  getALL(){
       // alert("gggeergergrgeger");
  },
  seeFile:function (index) {
     // alert(this.documents[index].url);
      url=this.courses[index].url;
       openInNewTab(url);

  },
  edit_course(name){
        alert(name);
    //    window.location = "{ url 'create_course_subscription' 1234 %}".replace(/1234/, name);
  },
      subscribe_course(coursename){
        var username_ = "{{ username  }}";
        window.location = "{% url 'create_course_subscription' 123 1234 %}".replace(/123/, username_).replace(/1234/,coursename);
      },
      getbytag(tag){
      //  alert(title);
         // alert(tag)
        $.ajax({
           url: '',
           type: 'get', // This is the default though, you don't actually need to always mention it
           data: {
               "title":tag,
               "tag":tag,
               'csrfmiddlewaretoken': '{{ csrf_token }}'
           },
           success: function (data) {
             //  alert(JSON.stringify(data.courses));
               this.courses = data.courses;
              // alert(JSON.stringify(data));
              // this.tasks = data.lessons;
           }.bind(this),
           failure: function (data) {
               alert('Got an error dude');
               //alert(JSON.stringify(data));

           }
         });

      },
      getbytitle(title){
      //  alert(title);
        $.ajax({
           url: '',
           type: 'get', // This is the default though, you don't actually need to always mention it
           data: {
               "title":title,
               'csrfmiddlewaretoken': '{{ csrf_token }}'
           },
           success: function (data) {
             //  alert(JSON.stringify(data.courses));
               this.courses = data.courses;
              // alert(JSON.stringify(data));
              // this.tasks = data.lessons;
           }.bind(this),
           failure: function (data) {
               alert('Got an error dude');
               //alert(JSON.stringify(data));

           }
         });

      },
  delete_course(id){

       $.ajax({
           url: '',
           type: 'get', // This is the default though, you don't actually need to always mention it
           data: {
               "course_name":id,
               'csrfmiddlewaretoken': '{{ csrf_token }}'
           },
           success: function (data) {
             //  alert(JSON.stringify(data.courses));
               this.courses = data.courses;
              // alert(JSON.stringify(data));
              // this.tasks = data.lessons;
           }.bind(this),
           failure: function (data) {
               alert('Got an error dude');
               //alert(JSON.stringify(data));

           }
       });

    }
}
})

     $(document).ready(function() {
        /* alert(JSON.stringify(vm.courses))
         var items = ["Laravel ACL", "Laravel Angural JS Crud",
         "Laravel CRUD","Laravel PDF", "C++",
         "gLaravel ACL", "yLaravel Angural JS Crud",
         "tLaravel CRUD","yLaravel PDF", "tC++"]
         for (var i of items)
         $(".myselect").append(new Option(i, i));*/

     });
      $(".myselect2").select2();
    $('.myselect2').on('change', function() {
   $(".myselect2").select2("close");
    vm.getbytitle(    this.value);
});

     $(".myselect3").select2();
    $('.myselect3').on('change', function() {
   $(".myselect3").select2("close");
    vm.getbytag(    this.value);
});

</script>


</body>
</html>