<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     {% load static %}
  <script src="{% static 'quiz_handler.js' %}"></script>
    <script src  = "static/quiz_handler.js"> </script>
    		<link type='text/css' rel='stylesheet' href='static/style.css'/>
            <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    	    <script type='text/javascript' src='static/jsquiz.js'></script>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open Sans"/>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<style>

    .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}


.bb {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

}

.aa {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.bb:hover, a:hover {
    opacity: 0.7;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}


     .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
    }

    .input-group-addon.primary {
        color: rgb(255, 255, 255);
        background-color: rgb(50, 118, 177);
        border-color: rgb(40, 94, 142);
}

.input-group-addon.success {
        color: rgb(255, 255, 255);
        background-color: rgb(92, 184, 92);
        border-color: rgb(76, 174, 76);
}

.input-group-addon.info {
        color: rgb(255, 255, 255);
        background-color: rgb(57, 179, 215);
        border-color: rgb(38, 154, 188);
}

.input-group-addon.warning {
        color: rgb(255, 255, 255);
        background-color: rgb(240, 173, 78);
        border-color: rgb(238, 162, 54);
}

.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg  navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

     {% if  user.user_status  == 'student' %}
     <li class="nav-item">
    <a class="nav-link" href = "possible-course-subscriptions/{{ user.name }}">Possible course for subscription</a>
    </li>
     <li class="nav-item">
    <a class="nav-link"  href = "course-subscriptions/{{ user.name }}">My course subscriptions</a>
     </li>
     {% endif %}
    {% if  user.user_status  == 'lecturer' %}
         <li class="nav-item">
    <a class="nav-link" href = "created-courses/{{ user.name }}">My created courses</a>
        </li>
         <li class="nav-item">
        <a class="nav-link" href = "create/course/by/{{ user.name }}">Create course</a>
    </li>
    {% endif %}
     <li class="nav-item">
    <a class="nav-link" href = "{% url "about" %}">   About</a>
        </li>
     <li class="nav-item">
    <a class="nav-link" href = "{% url "enter" %}">   Exit</a>
        </li>
    </ul>
  </div>
</nav>

      </div>


</div> </div></div>

</div>


<div class="card">
    {% if user.user_status == 'student'  %}
  <img src="https://static.thenounproject.com/png/35778-200.png" alt="John" style="width:100%">
    {% endif %}
 {% if user.user_status == 'lecturer'  %}
  <img src="https://i.ya-webdesign.com/images/png-unitech-application-form-2016-16.png" alt="John" style="width:100%">
    {% endif %}
    <h1>{{ user.name }}</h1>
    <h4>{{ user.user_status }}</h4>

  <h4 id = "my_email" > </h4>

  <p><button class="btn btn-lg btn-dark btn-block" onclick="getConfirm()"  class ="bg-dark text-white">Set Email for notification</button></p>
</div>


<form id='forminsertEmail' commandName='insert' cssClass='form-horizontal' >
        <div class="modal fade modalConfirmEmail" id="modalConfirmEmail">
                <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h4 class="modal-title"><i class='glyphicon glyphicon-envelope text-info'></i> Add E-mail</h4>
                            </div>
                        <br>
                            <div class="modal-body">

                                <div class="col-sm-offset-4" style="text-align: center;">
                                    <div class='form-group' >
                                        <div class='input-group col-xs-8' data-validate="email">
                                            <input onkeyup="search(this)" type="text" class="form-control " name="validate-email" id="validate-email" placeholder="Email Address" required>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer" style="text-align: center; ">
                                <button onclick="save()" type="button" class="btn btn-info" disabled id="btnConfirmEmail" data-dismiss="modal">Submit</button>
                                <button type="reset" class="btn btn-default"  data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                </div>
        </div>
</form>



<script type="text/javascript">

function getConfirm() {
    var email = document.getElementById("my_email").innerHTML ;
    //    alert(email)
     document.getElementById("validate-email").value = email === "None" ? "": email ;
     $("#btnConfirmEmail").attr("disabled",true);
    $("#modalConfirmEmail").modal("show");
}
/*$("#btnConfirmEmail").on("keyup",function () {

    alert(document.getElementById("#btnConfirmEmail").innerHTML);
});*/
function search(t) {
    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(t.value)) {
            $("#btnConfirmEmail").attr("disabled",false);
        //alert(t.value);
    }
    else{
          $("#btnConfirmEmail").attr("disabled",true);
    }

 /*
    To do Something
 */
}

/*$("#validate-email").on("keyup",function(){
  //alert("The text has been changed.");
     var email = document.getElementById("my_email").innerHTML ;

        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
         if (re.test(email)){
            alert("ffewf");
             $("#btnConfirmEmail").attr("disabled", true);

        }
         else{
             alert("ffad");
         }
 // modal.modal('hide');
});*/

$(document).ready(function() {

});

    $(document).ready(function () {


  // Listen to click event on the submit button
  $('#butt').click(function (e) {
    alert("hee");
    e.preventDefault();
 alert("heefr");


  });
});

    $(document).ready(function() {
       document.getElementById("my_email").innerHTML =  "{{ user.user_email }}";
                $('#show_result').hide();
        t = '{{csrf_token}}';
        username = '{{user.name}}'
        var arr = ["Новачок", "Твердий початківець", "Компетентний", "Досвідчений", "Експерт"]
        $('.ui.search.dropdown').dropdown();
               for (i = 0; i < arr.length; i++)
                {
               // $('#selector').append( '<option value="aaa'+i+'">'+'Option '+i+'</option>' );
                    $('#selector').append( '<option value='+arr[i]+'>'+arr[i]+'</option>' );
                }
    })

     function doSomething(value) {

            displayNext(value)
        }

 function addEmail(){
     var email = document.getElementById("my_email").innerHTML ;
    //    alert(email)
     document.getElementById("user_email").value = email === "None" ? "": email ;
         $("#exampleModal").modal();
    }
function save() {
        //validate email

    $.ajax({
           url: '',
           type: 'get', // This is the default though, you don't actually need to always mention it
           data: {
               "user_email":document.getElementById("validate-email").value,
               "user_name": '{{user.name}}',
               'csrfmiddlewaretoken': '{{ csrf_token }}'
           },
           success: function (data) {

               document.getElementById("my_email").innerHTML =  data.email ;
             //  alert(JSON.stringify(data.courses));
              // this.courses = data.courses;
              // alert(JSON.stringify(data));
              // this.tasks = data.lessons;
           }.bind(this),
           failure: function (data) {
               alert('Got an error dude');
               //alert(JSON.stringify(data));

           }
       });
}
<!--ffewfweffeewfffff-->
</script>

    <script type='text/javascript' src='static/jsquiz.js'></script>
<!--<button id = "ada" onclick="displayNext()">Helaalo</button> -->
</body>
</html>